header {
  min-height: 90px;
  border: 2px dashed rgb(1, 1, 61);
}
.navbar {
  min-height: 50px;
  border: dashed black;
}
.section {
  min-height: 500px;
  border: dashed black;
}
.footer {
  min-height: 90px;
  border: 2px dashed rgb(1, 1, 61);
}
